html{
	height: 100%;
	width: 100%;
	color: #ffffff;

}

body {
	background: url("images/sky_new.jpg") no-repeat ;
	background-size:100%;
	background-position: center;
	background-color: #222222;
	padding: 20px 105px ;
	font-family: 'Open Sans', sans-serif;

	}


.header h1, .header h2{
	display: inline-block;
	position: relative;
    top: -110px;
}
.header h2{
	margin-left: 65px;
	font-size: 60px ; 
}
.weather_today_parameter{
	display: inline-block;
	height: 50px;
	width: 180px;
	margin-bottom: 25px;
}
.weather_forecast_day{
	background-color: rgba(120,160,60,0.8);
	display: inline-block;
	height: 280px;
	width: 135px;
	padding:10px 18px;
	margin-left: 6px;
	position: relative;
    top: -166px;

}
.weather_today{
	width: 800px;
	position: relative;
    top: -210px;

}
.header h1{
	font-size: 140px;

}

	

}
.today_parametr_data{
	font-size: 30px;
	
}
.today_parametr_name{
	font-size: 20px;
	
}
.today_data{
	font-size: 20px;
	
	position: relative;
    top: 8px;
}
.week_day{
	font-size: 25px;
	
}
.weather_image{
	
}
.temperature{
	font-size: 30px;
	
}
.cloudy, .rain_chance{
	font-size: 20px;
	
} 
.choice_button{
	background-color: rgba(120,160,60,0.8);
	border: 0;
	padding:10px;
	color:rgb(255,255,255);
	cursor: pointer;
}
.choice_input{
	
	border: 0;
	padding:10px;
	color:rgb(0,0,0);
}
.none{
	display:none;
}